body{
    background-image: url("./background.jpg");
}
#gameBoard {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    color: aqua;
    background-color: #444;
    border-radius: 10px;
    width: 650px;
    margin-left: 25%;
    text-align: center;
}
#screen {
    background-image: url("./Windows_Screen.png");
    height: 300px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: 400px;
    display: flex;
    justify-content: center;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 30px;
}
#wordDisplay {
    text-align: center;
    font-size: 40px;
    margin-top: 150px;
    width: max-content;
    z-index: 2;
}
#maxLives {
    text-align: center;
    margin-top: 240px;
    z-index: 0;
}
#letterBoard {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    height: 70px;
    width: 600px;
    background-color: #a1a9b4;
    border-radius: 10px;
    padding: 5px 2px;
}
button {
    box-sizing: border-box;

    font-size: 15px;
    text-align: center;
    width: 30px;
    color: #555;
    cursor: pointer;
    margin: 0 8px;
    height: 30px;
    border-color: #f2f2f2;
    border-style: solid;
    text-shadow: 0 0.5px 1px #777, 0 2px 6px #f2f2f2;
    border-width: 1px;
    border-radius: 10px;
    background: -webkit-linear-gradient(
        top,
        #f9f9f9 0%,
        #d2d2d2 80%,
        #c0c0c0 100%
    );
    font-family: sans-serif;
    display: inline-block;
    transition: box-shadow 0.3s ease, transform 0.15s ease;
    box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #c0c0c0,
        0 8px 17px rgba(#444, 0.4), 2px 1px 4px rgba(#444, 0.25),
        -2px 1px 4px rgba(#444, 0.25), 0 9px 16px rgba(#444, 0.1);

    &:hover,
    &:focus {
        box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 4px 0 #c0c0c0,
            0 2px 35px rgba(#444, 0.3), 2px 2px 4px rgba(#444, 0.25),
            -2px 2px 4px rgba(#444, 0.25), 0 7px 4px rgba(#444, 0.1);
        transform: translateY(2px);
    }

    &:active {
        box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #c0c0c0,
            0 0px 30px rgba(#444, 0.15), 2px 2px 4px rgba(#444, 0.25),
            -2px 2px 4px rgba(#444, 0.25), 0 0px 4px rgba(#444, 0.25);
        transform: translateY(4px);
    }
}
#boom {
    position: relative;
    z-index: 99;
    top : -700px;
}
#rocket {
    width: 200px;
    
}
#rocketMan{
    width: 400px;
    text-align: center;
}

@media screen and (max-width: 525px) {
h1{
    width: 300px;
    margin-bottom: 0;
    font-size:medium;
}
#rockwtman{
    width: 100px;

}

#rocket{
    width: 100px;
}
#screen{
    width: 200px;
    height: 150px;
    background-size: 200px;
    margin-right: 25%;
    margin-top: 5px;
}
#wordDisplay{
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
    margin-left: 30px;
    width: 200px;
}
#letterBoard{
    width: 400px;
}
button{
    font-size: 10px;
    width: 20px;
    height: 25px;
    text-align: center;
    margin: 2px;
}
#boom {
    position: relative;
    z-index: 99;
    top : -200px;
    width: 400px;
}
}